[data-theme="dark"] {
  --main-color: #272b30;
  --second-color: #32383e;
  --color-text: #fff;
  --btn-main-color: #272729;
}
::-webkit-scrollbar {
  width: 0.625rem;
}
::-webkit-scrollbar-track {
  background-color: var(--second-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 50px;
  box-shadow: 0 0 5px rgb(0 0 0 / 0.5) inset;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.loading{
  position: fixed;
  inset: 0;
  background-color: var(--main-color);
  z-index: 99;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  -webkit-animation: rotation 1s linear infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #09c;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
body {
  overflow: hidden;
  font-family: "Comfortaa", cursive;
  background-color: var(--main-color);
  color: var(--color-text);
}
header img {
  max-height: 30vh;
  object-fit: cover;
}
nav {
  background-color: rgb(58, 73, 123) !important;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.7);
  top: -30px !important;
  /* left: 0;
  right: 0; */
  /* margin: auto; */

  margin: auto !important;
}
nav li{
    font-size: 12px;
}
nav img {
  max-width: 50px;
}
.nav-item .nav-link.active,
.nav-item .nav-link:hover {
  color: #09c !important;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}
main .card {
  border-color: rgb(0 0 0 / 0.175) !important;
  filter: grayscale(0.7);
  transition: transform 0.5s, filter 0.5s 0.1s;
}
main .card:hover {
  transform: scale(1.05);
  filter: grayscale(0);
}
main .card figcaption p {
  color: var(--color-text) !important;
}
main .card .card-body p{
  height: 40px;
  overflow: hidden;           /* Hide any overflow */
  text-overflow: ellipsis;    /* Show ellipsis (...) for overflowed text */
  display: -webkit-box;       /* Use the old flexbox model */
  -webkit-box-orient: vertical; /* Orient vertically (like a column) */
  -webkit-line-clamp: 2;      /* Limit to one line of text */
  word-wrap: break-word;      /* Wrap long words if needed */
  max-width: 100%;            /* Ensure the container doesn't exceed its parent width */
  white-space: normal;
}
.badge {
  background-color: var(--second-color);
}

/* ====================== Game Details ====================== */

